/* Write your code here. */
* {
  padding: 0px;
  margin: 0px;
}

.background {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.images {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  font-family: "roboto";
  text-align: center;
}
img {
  height: 50px;
  width: 50px;
  height: 100px;
  width: 100px;
  padding-top: 10px;
}
